{% for server in chrony_servers %}
server {{ server }} iburst
{% endfor %}

{% if is_primary %}
allow all
local stratum 10
{% endif %}
driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony
keyfile /etc/chrony/chrony.keys
